@model IEnumerable<LLRM.Areas.Auth.Models.Album>
@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/Main.cshtml";
}

<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="wprt-container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Album</h1>
            </div>

            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail"><a href="#" title="Home" rel="home" class="trail-begin">Gallery</a> <span class="sep"><i class="rt-icon-right-arrow12"></i></span> <span class="trail-end">Album</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="padding:40px 0px">
            <div class="wprt-image-box style-1 clearfix text-center">
                <div class="item">
                    <div class="inner">
                        <div class="thumb"><img src="~/UploadedFiles/@item.Image" alt="Image"></div>

                        <div class="text-wrap">
                            <h3 class="title"><a target="_blank" href="#">@item.AlbumName</a></h3>



                            <div class="elm-btn">
                               
                                @Html.ActionLink("View Album","Gallery", new { id=item.albumid}, new { @class= "small wprt-button accent" })
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.wprt-image-box -->

            <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35" style="height:0px"></div>
        </div>
    }
    
</div>